//sidebar
$menuText: #666666;
$menuActiveText: #409EFF;
$subMenuActiveText: $menuText; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #ffffff;
$menuHover: #e1e1e1;

$subMenuBg: #ffffff;
$subMenuHover: #e1e1e1;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
